CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.vscode/
*.log
*.info
_x/
build/
.run/
.ipcache
.ipynb_checkpoints
4_dev/1_sample_scal/host
.Xil/
build_scal/
build_backup/
hw_exec/
__pycache__/
.dacecache/
_dacegraphs/
core
